<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="supplierDetail:add" type="button"
								class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="supplierDetail:batchRemove"
								type="button" class="btn  btn-danger" onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>批量删除
							</button>
							<button shiro:hasPermission="supplierDetail:export"
									type="button" class="btn  btn-danger" onclick="exportData()">
								<i class="glyphicon glyphicon-export" aria-hidden="true"></i>导出
							</button>
							<span shiro:hasPermission="can_see" style="font-size: 25px; color: red">
								只能查看,无操作权限.
							</span>
						</div>
						<div class="columns pull-right" >
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reset()">重置</button>
						</div>


						<div class="columns pull-right col-md-2 nopadding">
							<input id="createTimeEnd" type="text" class="form-control" style="margin-top: 2px"
								   placeholder="结束时间">
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="createTimeStart" type="text" class="form-control" style="margin-top: 2px"
								   placeholder="开始时间">
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<select data-placeholder="公司名称" class="form-control chosen-select" id="type"
									tabindex="2" style="width: 100%">
								<option value="">公司名称</option>
							</select>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
	<div>
		<script type="text/javascript">
			var s_edit_h = 'hidden';
			var s_remove_h = 'hidden';
			var s_resetPwd_h = 'hidden';
			var s_add_h = 'hidden';
		</script>
	</div>
	<div shiro:hasPermission="supplierDetail:edit">
		<script type="text/javascript">
			s_edit_h = '';
		</script>
	</div>
	<div shiro:hasPermission="supplierDetail:remove">
		<script type="text/javascript">
			var s_remove_h = '';
		</script>
	</div>
	<div shiro:hasPermission="supplierDetail:add">
		<script type="text/javascript">
			var s_add_h = '';
		</script>
	</div>

	</div>
	<div style="display:none;">
		<form action="supplierDetail/download" method="get"
			  id="download">
			<input type="hidden" name="companyId"
				   id="companyIdDownload" />
			<input type="hidden"
				   name="createTimeStart" id="createTimeStartDownload" />
			<input type="hidden"
				   name="createTimeEnd" id="createTimeEndDownload" />
		</form>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript"
		src="/js/appjs/finance/supplierdetail/list.js"></script>
</body>
</html>